html,
body {
  background: #93a99d;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
  color: #ffffff;
}
header {
  position: relative;
  z-index: 100;
  padding-left: 2.3%;
  padding-right: 2.3%;
  outline: 1px solid #f1fa15;
  box-shadow: inset 0 0 40px #f1fa15;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-container {
  padding-bottom: 432px;
  z-index: 2;
}
.main-container,
.content {
  padding-right: 2.3%;
  padding-left: 2.3%;
}
.main-nav {
  float: left;
  max-width: 83.33%;
  margin-top: 32px;
  outline: 1px solid rgba(8, 235, 25, 0.8);
  box-shadow: inset 0 0 40px rgba(8, 235, 25, 0.8);
}
.breadcrumbs ul {
  float: left;
  margin: 0;
  outline: 1px solid rgba(8, 235, 25, 0.8);
  box-shadow: inset 0 0 40px rgba(8, 235, 25, 0.8);
}
.main-nav ul,
.breadcrumbs ul,
.login-bar ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.main-nav ul li,
.breadcrumbs ul li,
.login-bar ul li {
  display: inline-block;
  vertical-align: top;
  height: 17px;
  margin-right: 13px;
}
/*отступ справа убрать у поледнего элеиента

.main-navigation li:last-child,
.breadcrumbs li:last-child {
    margin-right:0;
}
*/

.main-nav ul a,
.breadcrumbs ul a,
.login-bar ul a {
  color: #ffffff;
  text-decoration: none;
}
.index-logo {
  float: left;
  width: 154px;
  margin-right: 30px;
}
.user-block {
  float: right;
  min-height: 92px;
  width: 22.25%;
  outline: 1px solid rgba(203, 13, 159, 0.8);
  box-shadow: inset 0 0 40px rgba(203, 13, 159, 0.8);
}
.user-block li {
  display: table-cell;
  width: auto;
  height: 17px;
  padding-right: 13px;
  font-size: 14px;
}
.user-menu {
  float: left;
  margin: 0;
  padding: 23px;
}
.user-block p {
  font-size: 14px;
  text-align: right;
  display: inline-block;
}
.login-bar {
  float: right;
  width: 22.25%;
  outline: 1px solid rgba(203, 13, 159, 0.8);
  box-shadow: inset 0 0 40px rgba(203, 13, 159, 0.8);
}
.head-addin {
  height: 50px;
}
.head-addin .info-block {
  float: right;
  width: 200px;
  text-align: right;
}
.head-addin .breadcrumbs {
  float: left;
  margin-top: 20px;
}
.head-addin .info-block .worktime {
  font-size: 1.0em;
  clear: both;
  display: inline-block;
}
.head-addin .info-block .tel {
  font-size: 1.3em;
  clear: both;
  display: inline-block;
}
.clear {
  height: 100px;
  clear: both;
}
.promo {
  margin-bottom: 3.33%;
}
.promo-left {
  float: left;
  width: 48.9%;
  min-height: 227px;
  padding: 20px;
  background-image: url("../img/bg/rassp-bg.jpg");
  margin-right: 2.2%;
  box-sizing: border-box;
}
.promo-right {
  float: left;
  width: 48.9%;
  min-height: 227px;
  padding: 20px;
  margin: 0;
  background-image: url("../img/bg/choko-bg.jpg");
  box-sizing: border-box;
}
.bestsellers {
  margin-bottom: 3.33%;
  outline: 1px solid rgba(255, 160, 8, 0.8);
  box-shadow: inset 0 0 40px rgba(255, 160, 8, 0.8);
}
.bestsellers a {
  font-size: 14px;
}
.product {
  min-height: 324px;
}
.product:last-child {
  margin-right: 0;
}
.product img {
  width: 100%;
  height: 100%;
}
.news {
  margin-bottom: 3.33%;
  color: #000000;
}
.new-message {
  min-height: 200px;
  padding: 20px;
  margin-right: 2.2%;
  border-radius: 20px;
  background: #ffffff url("../img/bg/straw-bg.jpg") no-repeat;
  background-position: 110% 15%;
}
.subscribe {
  min-height: 200px;
  padding: 20px;
  background-color: #f8f7f4;
}
.new-message a {
  color: black;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}
.map {
  position: absolute;
  width: 100vw;
  height: 430px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 60px;
  box-sizing: border-box;
  background-image: url("../img/bg/map.jpg");
}
.contacts {
  width: 303px;
  height: 305px;
  margin-left: auto;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  color: black;
  padding: 45px 25px;
}
span.street,
span.phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.main-footer {
  position: relative;
  width: 100%;
  height: 8.58%;
  margin: 0;
  box-shadow: 0 0 40px rgba(65, 91, 235, 0.8) inset;
  outline: 1px solid rgba(65, 91, 235, 0.8);
}
.footer-social {
  float: left;
 margin:36px 28px; 

  width: 30%;
}
.footer-contacts {
  float: left;
  width: 33.3%;
  margin-left: 60px;
  min-height: 4.16%;
  box-shadow: 0 0 40px rgba(61, 235, 202, 0.8) inset;
  outline: 1px solid rgba(61, 235, 202, 0.8);
}
.footer-copyright {
  float: right;
  width: 15.75%;
  min-height: 5.33%;
  box-shadow: 0 0 40px rgba(61, 235, 202, 0.8) inset;
  outline: 1px solid rgba(61, 235, 202, 0.8);
}
.gllacy-slider {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  /*background-color: #93a99d;*/
  height: 850px;
  z-index: 1;
}
.slider-inner {
  overflow: hidden;
  width: 300%;
  transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  /*transition: transform 0.8s ease*/
}
}
.slide img {
  float: left;
  width: 1044px;
  text-align: center;
}
.slider-controls label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 3px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.gllacy-slider .slider-controls {
  position: absolute;
  top: 567px;
  left: 2.3%;
}
.product .quarter {
  margin: 0;
  margin-bottom: 2.2%;
}
section .quarter,
section .half {
  float: left;
  box-sizing: border-box;
}
section .quarter:nth-child(4n),
section .quarter:last-child,
section .half:last-child {
  margin-right: 0;
}
section .half {
  margin: 0 2.2% 0 0;
  width: 48.9%;
  border-radius: 20px;
}
section .quarter {
  margin: 0 2.2% 2.2% 0;
  width: 23.35%;
}
.info {
  margin: 0;
  min-height: 307px;
  background-image: url("../img/bg/wafer-patern.jpg");
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border-radius: 20px;
  margin-bottom: 3.33%;
}
.gllacy-slider input[type=radio] {
  display: none;
}
.slider .slider-inner {} .slider .slide_new {
  float: left;
  display: block;
  width: 33.3%;
  position: relative;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .slider .slider-inner {
  margin-left: 0;
}
#btn-2:checked ~ .slider .slider-inner {
  margin-left: -100%;
}
#btn-3:checked ~ .slider .slider-inner {
  margin-left: -200%;
}
.slide-text {
  display: block;
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  font-size: 40px;
  line-height: 1em;
}
.slide-text p {
  display: inline-block;
  width: 600px;
}
.slide-text a {
  display: block;
}
/*css catalog*/

.bestsellers-catalog {
  outline: 1px solid rgba(255, 160, 8, 0.8);
  box-shadow: inset 0 0 40px rgba(255, 160, 8, 0.8);
}
.paginator {
  width: 500px;
  margin-bottom: 2.75%;
  margin-left: auto;
  text-align: right;
}
.column-left .row1,
.column-left .row2 {
  position: relative;
  margin-left: 77px;
  ;
}
.column-left .row1::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  width: 55px;
  height: 55px;
  background: url("/img/icon/icon-icecream.svg")no-repeat;
  opacity: 1;
}
.column-left .row2::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  width: 55px;
  height: 55px;
  background: url("/img/icon/leaf.svg")no-repeat;
  opacity: 1;
}
.info {
  padding-top: 30px;
}
.info h1 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 18px;
}
.column-right .row1,
.column-right .row2 {
  position: relative;
  margin-left: 50px;
  padding-right: 20px;
}
.column-right .row1::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  width: 55px;
  height: 55px;
  background: url("/img/icon/cow.svg")no-repeat;
  opacity: 1;
}
.column-right .row2::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  width: 55px;
  height: 55px;
  background: url("/img/icon/therm.svg")no-repeat;
  opacity: 1;
}
/*

.search {
    background-color: #ffffff;
    border: medium none;
    width: 30px;

    border-radius: 100%;
    opacity: 0.5;
    outline: 0 none;
    padding: 0;
    transition: opacity 0.15s ease 0s;
    vertical-align: middle;
}
*/

.search-block {
  display: inline-block;
  vertical-align: top;
}
.search-block a {
  display: block;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.search-block .icon {
  width: 10px;
  height: 10px;
  background-color: red;
}
/*
.search-block {
    display:block;
    padding: 8px;
    border-radius: 20px;
    background-color: yellow;
}*/

.hit {
  position: relative;
}
.hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url("/../img/icon/hit.png")no-repeat;
  opacity: 1;
}
.hit span {
  position: absolute;
  top: 200px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #000000;
}
.hit span::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 80px;
  width: 27px;
  height: 32px;
  background: url("/../img/icon/rouble.svg")no-repeat;
  opacity: 1;
}
/*
.hit .rouble {
  display: block;
  width: 27px;
  height: 32px;
  background: url("/../img/icon/rouble.svg")no-repeat;
}
*/

.hit a {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: underline;
}
.btn {
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 27px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f26943;
  background-image: -moz-linear-gradient(top, #f26943 0%, #e74b36 100%);
  background-image: -webkit-linear-gradient(top, #f26943 0%, #e74b36 100%);
  background-image: -o-linear-gradient(top, #f26943 0%, #e74b36 100%);
  background-image: -ms-linear-gradient(top, #f26943 0%, #e74b36 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e74b36', endColorstr='#e74b36', GradientType=0);
  background-image: linear-gradient(top, #f26943 0%, #e74b36 100%);
  -webkit-box-shadow: inset 0px -2px 0px #ac1100;
  -moz-box-shadow: inset 0px -2px 0px #ac1100;
  box-shadow: inset 0px -2px 0px #ac1100;
  text-shadow: 0px 2px 3px #a01f0b;
  filter: dropshadow(color=#a01f0b, offx=0, offy=2);
}
.btn:hover {
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 27px;
  color: #ffffff;
  background-color: #f58569;
  background-image: -moz-linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  background-image: -webkit-linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  background-image: -ms-linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ec6f5e', endColorstr='#ec6f5e', GradientType=0);
  background-image: linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  -webkit-box-shadow: inset 0px -2px 0px #ac1100;
  -moz-box-shadow: inset 0px -2px 0px #ac1100;
  box-shadow: inset 0px -2px 0px #ac1100;
  text-shadow: 0px 2px 3px #a01f0b;
  filter: dropshadow(color=#a01f0b, offx=0, offy=2);
}
/*нажатие*/

.button {
  text-decoration: none;
  text-align: center;
  padding: 17px 44px;
  border: none;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #d74532;
  background-image: -moz-linear-gradient(top, #d74532 0%, #e1613e 100%);
  background-image: -webkit-linear-gradient(top, #d74532 0%, #e1613e 100%);
  background-image: -o-linear-gradient(top, #d74532 0%, #e1613e 100%);
  background-image: -ms-linear-gradient(top, #d74532 0%, #e1613e 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e1613e', endColorstr='#e1613e', GradientType=0);
  background-image: linear-gradient(top, #d74532 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0px 2px 0px #ac1100;
  -moz-box-shadow: inset 0px 2px 0px #ac1100;
  box-shadow: inset 0px 2px 0px #ac1100;
  text-shadow: 0px 2px 3px #a01f0b;
  filter: dropshadow(color=#a01f0b, offx=0, offy=2);
}
.btn.promotion {
  float: right;
  padding: 18px 22px;
  font-size: 18px;
}
.promo h2 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}
.promo p {
  font-size: 18px;
  line-height: 22px;
}
.btn.btn-slider {
  font-size: 32px;
  line-height: 44px;
  padding: 16px 42px;
}
.btn.btn-subscribe {
  padding: 14px 20px;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
}
.btn.btn-contacts {
  padding: 17px 28px;
  font-size: 18px;
  line-height: 24px;
}
input {
  width: 367px;
  margin: 0;
  padding: 2px 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.footer-contacts li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.catalog-form {
  width: 860px;
  padding: 0;
  outline: 1px solid rgba(203, 13, 159, 0.8);
  box-shadow: inset 0 0 40px rgba(203, 13, 159, 0.8);
}
.fieldset-form {
  display: inline-block;
  vertical-align: top;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.filters-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.filters-list li {
  display: inline-block;
}
.btn-filters {
  padding: 8px 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}


.social-btn  img{
    width: 38px;
    height: 38px;
    margin: 5px 5px;
    padding: 0; 
      box-sizing: border-box;
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  
}



.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.main-menu > li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.main-menu a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
 
}

.main-menu a:hover {
    background: #f8f7f4;
}

.main-menu .sub-menu {
    position: absolute;
    left: 1px;
    display: none;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f8f7f4;
}

.main-menu .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}

.main-menu > li:hover .sub-menu {
    display: block;
}
/*
.button{
 text-decoration:none;
 text-align:center;
 padding:17px 44px;
 border:none;
border-radius:27px;
 border-radius:27px;
 border-radius: 27px;
 font:18px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#ffffff;
 background-color:#f26943;
 background-image: linear-gradient(top, #f26943 0%, #e74a35 100%);
 background-image:linear-gradient(top, #f26943 0%, #e74a35 100%);
 background-image:linear-gradient(top, #f26943 0%, #e74a35 100%);
 background-image: linear-gradient(top, #f26943 0% ,#e74a35 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74a35', endColorstr='#e74a35',GradientType=0 );
 background-image: linear-gradient(top, #f26943 0% ,#e74a35 100%);
box-shadow:0px 2px 2px #ac1100;box-shadow: 0px 2px 2px #ac1100;  box-shadow:0px 2px 2px #ac1100;

  }*/
